@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    display: block;
    font-family: Inter;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-recurring-transaction{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .5em;
}